@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}

.box-color-light {
	background: #FFF1E8;
	border: 1px solid #9C2801;
	margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

a {
    text-decoration: none;
 }


img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
}

/* Remove underlines from links */

a {
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 1920px.
1920px would fit a large monitor or tv. Sizes will vary depending on the projects
you work on and the intended audience */

#container {
	margin: 0 auto;
	width: 1920px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
}

#header-con {
	background-color: #FFF1E8;
	padding-top: 10px;
	padding-bottom: 10px;
	/* position: fixed;
	top:0; */
}

#header-box1 {
	grid-column: 1/3;
	/* Remove as content will dictate height */
	height: 80px;
	width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-box2 {
	grid-column: 3/10;
	/* Remove as content will dictate height */
	height: 80px;
}

#main-nav{
	grid-column: 10/-1;
	/* Remove as content will dictate height */
	height: 80px;
	margin-bottom:10px;
}

#main-nav ul {
	margin-top: 35px;
	margin-left: 30px;
	padding:0;
	text-align: right;
 }
 
 #main-nav li {
	display:inline;
	margin-left: 28px;
	font-size: 28px;
	
 }

/* look for an element that already has the class 'active' attached to it*/
#main-nav li a.active {
	color: #DD9933;
	font-weight: bold;
 }
 

/* Specific to index page desktop  */

#hero {
	margin-top: 100px;
}

#hero-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 582px;
}

#hero-text p {
	color: #666666;
	margin-bottom: 20px;
	margin-right: 80px;
	font-size: 22px;
	line-height: 32px;
}


#hero-text h1 {
	color: #9C2801;
	font-size: 48px;
}

#hero-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 582px;
	border: solid #9C2801;
	border-left-width: 8px;
	border-bottom-width: 8px;
	border-top-width: 0;
	border-right-width: 0;
}

/* #hero-image-box {
	grid-column: 8/-1;
	height: 582px;
	background-color: #9C2801;
	position: relative;
	top: -568px;
	left: -12px;
	z-index: -1;
} */

#hero-button {
	width: 20%;
	margin-top: 15px;
	padding: 12px 20px;
	font-size: 18px;
	color: #f9f9f9;
	background-color: #9C2801;
	border: none;
	cursor:pointer;
}

#products {
	margin-top: 100px;
	margin-bottom: 100px;
}

#products h2 {
	grid-column: 1/-1;
	text-align: center;
	color: #9C2801;
	font-size: 48px;
}

#products p {
	font-size: 24px;
	margin-top: 20px;
	margin-right: 20px;
	line-height: 34px;
	color: #666666;
}

#products h3 {
	color: #303030;
	font-weight: bold;
}

.product-button {
	width: 25%;
	margin-top: 15px;
	padding: 12px 20px;
	font-size: 18px;
	color: #f9f9f9;
	background-color: #9C2801;
	border: none;
	cursor:pointer;
}

/* .product-box {
	background-color: #FFF1E8;
} */

#product1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 412px;
}

#product2 {
	grid-column: 5/9;
	/* Remove as content will dictate height */
	height: 412px;
}

#product3 {
	grid-column: 9/-1;
	/* Remove as content will dictate height */
	height: 412px;
}



#about-con {
	background-color: #9C2801;
	padding-top: 10px;
	padding-bottom: 10px;
}

#about-title {
	text-align: center;
	color: #9C2801;
	font-size: 48px;
	margin-top: 155px;
}

#about-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
}

#about-text h1 {
	color: #f9f9f9;
	font-size: 48px;
	margin-top: 100px;
}

#about-text p {
	color: #f9f9f9;
	margin-bottom: 20px;
	margin-right: 80px;
	font-size: 22px;
	line-height: 32px;
}

#about-button {
	width: 20%;
	margin-top: 15px;
	padding: 12px 20px;
	font-size: 18px;
	color: #9C2801;
	background-color: #FFF1E8;
	border: none;
	cursor:pointer;
}

#about-image {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	height: 700px;
}

#contact {
	margin-top: 100px;
	margin-bottom: -38px;
}

#contact-text {
	grid-column: 1/8;
	/* Remove as content will dictate height */
	height: 700px;
}

#contact-text h1 {
	color: #9C2801;
	font-size: 48px;
	text-align: left;
}

#contact-text p {
	color: #666666;
	margin-bottom: 20px;
	margin-right: 80px;
	font-size: 22px;
	line-height: 32px;
	text-align: left;
}

#contact-form {
	grid-column: 8/-1;
	/* Remove as content will dictate height */
	margin-top: 50px;
	height: 455px;
}

#contact-form input[type=text]{
	display: block;
	padding: 12px 20px;
	text-align: left;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 88%;
	font-size: 18px;
	font-weight: lighter;
	border: 1px solid #9C2801;
}

#contact-form textarea{
	display: block;
	padding: 12px 20px;
	padding-bottom: 80px;
	margin-left: 20px;
	margin-bottom: 20px;
	width: 88%;
	font-size: 18px;
	border: 1px solid #9C2801;
}

#contact-form input[type=submit]{
	width: 30%;
	margin-left: 20px;
	padding: 12px 20px;
	font-size: 18px;
	color: #f9f9f9;
	background-color: #9C2801;
	border: none;
}

/*Common page elements  */

#footer-con {
	background-color: #5B2400;
	padding-top: 50px;
	padding-bottom: 20px;
}

#footer-logo {
	grid-column: 1/3;
	/* Remove as content will dictate height */
	height: 132px;
}




#footer-newsletter1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 120px;
}

#footer-newsletter1 p {
	color: #f9f9f9;
	font-size: 22px;
	text-align: left;
	margin-bottom: 15px;
}

/* NEWSLETTER FORM SETTINGS */


#newsletter-form input[type=text]{
	padding: 12px 20px;
	text-align: left;
	width: 50%;
	font-size: 18px;
	border: none;
}

#newsletter-form input[type=submit]{
	width: 30%;
	margin-left: 8px;
	padding: 12px 20px;
	font-size: 18px;
	color: #f9f9f9;
	background-color: #9C2801;
	border: none;
}

#footer-newsletter2 {
	grid-column: 5/7;
	/* Remove as content will dictate height */
	height: 80px;
}

#footer-nav {
	grid-column: 11/-1;
	/* Remove as content will dictate height */
	height: 80px;
}

#footer-nav ul {
	margin-top: 55px;
	margin-left: 30px;
	padding:0;
	text-align: right;
 }
 
 #footer-nav li {
	display:inline;
	margin-left: 28px;
	font-size: 28px;
	
 }

 #footer-nav li a {
	text-decoration: none;
	color: white;

 }

/* gallery page */

#gallery-hero-con {
	background-color: #aaaaaa;
	background: url("../images/hero-gallery-01.jpg");
	height: 580px;
}

.hero-gallery-overlay {
	position:relative;
}

.hero-gallery-overlay:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

#gallery-text {
	grid-column: 1/9;
	/* Remove as content will dictate height */
	height: 200px;
	margin-top: 100px;
	z-index: 0;
}


#gallery-text h2{
	font-size: 48px;
	text-align: left;
	color: #f9f9f9;
}

#gallery-text p{
	font-size: 22px;
	text-align: left;
	color: #f9f9f9;
}


#gallery-controls {
	margin-top: 200px;
	grid-column: 6/8;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
	z-index: 0;
  }

#gallery h2 {
	grid-column: 1/-1;
	text-align: center;
	color: #9C2801;
	font-size: 48px;
	margin-top: 110px;
  }

#gallery p {
	font-size: 24px;
	margin-top: 20px;
	margin-right: 20px;
	line-height: 34px;
	color: #666666;
}

#gallery h3 {
	color: #303030;
	font-weight: bold;
}

.gallery-box {
	
	grid-column: span 4 / span 4;
	/* Remove as content will dictate height */
	
	height: 407px;
	margin-bottom: 20px;
}

.gallery-box img {
	transition: transform .2s;
}

.zoom:hover {
	transform: scale(1.4); 
  }